<a href="https://colab.research.google.com/github/Manasa890/python/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']

In [ ]:
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
print(Fruit[0])

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
Mango

In [ ]:
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
print(Fruit[1])

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
Banana

In [ ]:
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
print(Fruit[0])
print(Fruit[1])
print(Fruit[2])
print(Fruit[3])
print(Fruit[4])

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
Mango
Banana
pineapple
papaya
dragon fruit

In [ ]:
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
print(Fruit[0:2])

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana']

In [ ]:
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
print(Fruit[0:2])
print(Fruit[:2])
print(Fruit[1:2])
print(Fruit[1:])
print(Fruit[2:])
print(Fruit[0:3])

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana']
['Mango', 'Banana']
['Banana']
['Banana', 'pineapple', 'papaya', 'dragon fruit']
['pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana', 'pineapple']

In [29]:
# Append
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
Fruit.append("jack fruit")
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit', 'jack fruit']

In [35]:
# Insert
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
Fruit.insert(2,"jack fruit")
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana', 'jack fruit', 'pineapple', 'papaya', 'dragon fruit']

In [41]:
# Extend
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
New:['Litchi', 'pomogranate', 'coconut']
Fruit("New")
Fruit.extend(New)
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']

TypeError: ignored

In [58]:
# Remove
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
Fruit.remove("dragon fruit")
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana', 'pineapple', 'papaya']

In [50]:
# Pop by index
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
Fruit.pop(4)
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana', 'pineapple', 'papaya']

In [59]:
# Delete
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
del Fruit[3]
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
['Mango', 'Banana', 'pineapple', 'dragon fruit']

In [60]:
# Clear the list
Fruit=['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
print(Fruit)
Fruit.clear()
print(Fruit)

['Mango', 'Banana', 'pineapple', 'papaya', 'dragon fruit']
[]

In [68]:
# Sorting
Num=[10,30,50,70,90]
Num.sort()
print(Num)

[10, 30, 50, 70, 90]

In [80]:
# Descending order
Alphabet=['Q','O','P','D','M','Y']
Alphabet.sort(reverse =True)
print(Alphabet)

['Y', 'Q', 'P', 'O', 'M', 'D']

In [79]:
# Descending order
Number=[4,7,8,9,5,3]
Number.sort(reverse =True)
print(Number)

[9, 8, 7, 5, 4, 3]

In [86]:
# Reverse
Number=[45,78,32,56,90]
Number.reverse()
print(Number)

[90, 56, 32, 78, 45]

In [85]:
# List length
Alphabet=['Q','O','P','D','M','Y','R','Z','U']
print(len(Alphabet))

9