<a href="https://colab.research.google.com/github/Manasa890/python/blob/main/SETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a set
Birds={"sparrow", "pigeon", "parrot"}
print(Birds)

{'pigeon', 'sparrow', 'parrot'}

In [ ]:
# Duplicate sets
Birds={"sparrow", "pigeon", "parrot", "sparrow"}
print(Birds)

{'pigeon', 'sparrow', 'parrot'}

In [ ]:
# Length sets
Birds={"sparrow", "pigeon", "parrot"}
print(len(Birds))

3

In [ ]:
# For loop by access items
Birds={"sparrow", "pigeon", "parrot"}
for x in Birds:
  print(x)

pigeon
sparrow
parrot

In [ ]:
# Check if "pigeon" is present in the set:
Birds={"sparrow", "pigeon", "parrot"}
print("pigeon" in Birds)

True

In [ ]:
# Add sets
Birds={"sparrow", "pigeon", "parrot"}
Birds.add("peacock")
print(Birds)

{'pigeon', 'peacock', 'sparrow', 'parrot'}

In [ ]:
# Add Update Method
Birds={"sparrow", "pigeon", "parrot"}
Colours={"Purple", "Green", "Violet"}
Birds.update(Colours)
print(Birds)

{'Green', 'Purple', 'pigeon', 'Violet', 'sparrow', 'parrot'}

In [ ]:
# Add any iterable
Birds={"sparrow", "pigeon", "parrot"}
Colours={"Purple", "Green"}
Birds.update(Colours)
print(Birds)

{'Green', 'Purple', 'pigeon', 'sparrow', 'parrot'}

In [ ]:
# Remove items
Birds={"sparrow", "pigeon", "parrot"}
Birds.remove("pigeon")
print(Birds)

{'sparrow', 'parrot'}

In [ ]:
# Discard Method
Birds={"sparrow", "pigeon", "parrot"}
Birds.discard("parrot")
print(Birds)

{'pigeon', 'sparrow'}

In [ ]:
# Pop Method
Birds={"sparrow", "pigeon", "parrot"}
m=Birds.pop()
print(m)
print(Birds)

pigeon
{'sparrow', 'parrot'}

In [ ]:
# Clear Method
Birds={"sparrow", "pigeon", "parrot"}
Birds.clear()
print(Birds)

set()

In [ ]:
# Delete Method
Birds={"sparrow", "pigeon", "parrot"}
del Birds
print(Birds) # Error arrises because the set is no longer exists in the list

NameError: ignored

In [26]:
# Loop Items (For Loop)
Birds={"sparrow", "pigeon", "parrot"}
for x in Birds:
  print(x)

pigeon
sparrow
parrot

In [28]:
# Join Sets (Join two sets) (By Union Method)
Set1 = {"10", "60", "80", "90"}
Set2 = {"a", "m", "s", "n"}

Set3 = Set1.union(Set2)
print(Set3)

{'m', 's', 'n', '60', '80', 'a', '10', '90'}

In [30]:
# Insert items by update Method
Set1 = {"10", "60", "80", "90"}
Set2 = {"a", "m", "s", "n"}

Set1.update(Set2)
print(Set1)

{'m', 's', 'n', '60', '80', 'a', '10', '90'}

In [35]:
# Intersection_update
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
a.intersection_update(b)
print(a)

{'pigeon'}

In [37]:
# Intersection() Method
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
c=a.intersection(b)
print(c)

{'pigeon'}

In [40]:
# Symmetric Difference update
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
a.symmetric_difference_update(b)
print(a)

{'Purple', 'sparrow', 'Green', 'parrot'}

In [46]:
# Symmetric Difference 
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
c=a.symmetric_difference(b)
print(c)

{'Purple', 'sparrow', 'Green', 'parrot'}

In [45]:
# Copy Method (Sets Method)
Birds={"sparrow", "pigeon", "parrot"}
a=Birds.copy()
print(a)

{'pigeon', 'sparrow', 'parrot'}

In [48]:
# Difference() Method (Sets Method)
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
c=a.difference(b)
print(c)

{'sparrow', 'parrot'}

In [50]:
# Difference update
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
a.difference_update(b)
print(a)

{'sparrow', 'parrot'}

In [54]:
# Difference Method
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "pigeon"}
c=b.difference(a)
print(c)

{'Green', 'Purple'}

In [57]:
# Isdisjoint Method
a={"sparrow", "pigeon", "parrot"}
b={"Purple", "Green", "Violet"}
c=a.isdisjoint(b)
print(c)

True

In [59]:
# Issubset Methos(Sets Method)
Set1 = {"10", "60", "80", "90"}
Set2 = {"a", "m", "s", "n"}
Set3 = Set1.issubset(Set2)
print(Set3)

False

In [69]:
# Issuperset
Set1 = {"10", "60", "80", "90"}
Set2 = {"a", "m", "s", "n", "p"}
Set3 = Set1.issuperset(Set2)
print(Set3)

False

In [70]:
# Issuperset
Set1 = {"10", "60", "80", "90", "a", "m", "s", "n", "p"}
Set2 = {"a", "m", "s", "n", "p"}
Set3 = Set1.issuperset(Set2)
print(Set3)

True