<a href="https://colab.research.google.com/github/Manasa890/python/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#string
a='Manasa'
print(a)
print(type(a))
print(a[1])

Manasa
<class 'str'>
a

In [ ]:
a='string'
print(len(a))

6

In [ ]:
a='Hello string'
print(len(a))

12

In [ ]:
a="RRR movie has been released"
print("RRR" in a)

True

In [ ]:
a="Movie is not good"
print("if" in a)

False

In [ ]:
# Not in 
a="RRR movie has been released"
print("RRR" not in a)

False

In [2]:
# slicing
a="RRR movie has been released"
print(a[2:5])

R m

In [4]:
# Modify string (UPPER CASE)
a="I went to RRR movie"
print(a.upper())

I WENT TO RRR MOVIE

### **MODIFY** **STRINGS**

In [26]:
# Modify string (LOWER CASE)
a="I went to RRR movie"
print(a.lower())

i went to rrr movie

In [10]:
# Remove Whitespace
a="       RRR movie has been released    "
print(a.strip())

RRR movie has been released

In [16]:
# Replace string
a="I went to RRR movie"
print(a.replace("RRR", "Bheemla Nayak"))
print(a)

I went to Bheemla Nayak movie
I went to RRR movie

In [24]:
# Split string
a="Akhanda movie became super hit"
print(a.split(","))

['Akhanda movie became super hit']

In [25]:
# Split separately
a="Akhanda movie became super hit"
print(a.split())

['Akhanda', 'movie', 'became', 'super', 'hit']

# CONCATENATE **STRINGS**

In [29]:
# Merge Variable A into B
="I enjoyed watching Indian Idol with my family"
b="Yesterday I went to movie with my friends"
c=a+b
print(c)

I enjoyed watching Indian Idol with my familyYesterday I went to movie with my friends

In [31]:
# Adding space between A and B
a="Model"
b="Paper"
c=a+ " " +b
print(c)

Model Paper

# **FORMAT STRINGS**

In [42]:
a="RRR movie"
b="Bheemla Nayak, {}"
print(b.format(a))

Bheemla Nayak, RRR movie

In [47]:
price=150
quantity=3
item=1
name="Thumbsup"
myorder="I bought {3} with {0} having {1} and purchased {2}"
print(myorder.format(price,quantity,item,name))

I bought Thumbsup with 150 having 3 and purchased 1

In [63]:
Sub1=int(input("Enter cse marks"))
Sub2=int(input("Enter math marks"))
Sub3=int(input("Enter eng marks"))
Sub4=int(input("Enter workshop marks"))
Result="My cse marks are {0}, math marks are {1}, eng marks are {2}, workshop marks are {3}"
print(Result.format(Sub1, Sub2, Sub3, Sub4))

Enter cse marks 89
Enter math marks 90
Enter eng marks 67
Enter workshop marks 45
My cse marks are 89, math marks are 90, eng marks are 67, workshop marks are 45

# **ESCAPE CHARACTERS**

In [59]:
# Characters
a="Hello Manasa \"hi\""
print(a)
b="Hello Jayani \\Hello"
print(b)
c="Hello \nManasa"
print(c)
d="Hello \tManasa"
print(d)

Hello Manasa "hi"
Hello Jayani \Hello
Hello
Manasa
Hello 	Manasa

In [67]:
a="Hello\bManasa"
print(a)

HelloManasa

In [69]:
# Octal
a="\120"
print(a)

P

In [71]:
# Octal 2
a= "\110\145\154\154\157"
print(a)

Hello

# **STRING METHODS**

In [75]:
# String Methods
a="manasa"
b=a.capitalize()
print(b)

Manasa

In [78]:
# Casefold
a="Manasa"
b=a.casefold()
print(b)

manasa

In [80]:
# Center
a="manasa"
b=a.center(50)
print(b)

                      manasa

In [86]:
# Count
a="Welcome to Python Programming"
b=a.count("")
print(b)
print(len(a))

30
29

In [88]:
# Encode
a="Welcome to Python Programming"
b=a.encode()
print(b)

b'Welcome to Python Programming'

In [92]:
# Endswith
a="Welcome to Python Programming"
b=a.endswith(".")
print(b)

False

In [93]:
# Endswith
a="Welcome to Python Programming."
b=a.endswith(".")
print(b)

True