<a href="https://colab.research.google.com/github/Manasa890/python/blob/main/TUPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creating a tuple
Animalstuple = ("dog", "lion", "tiger")
print(Animalstuple)

('dog', 'lion', 'tiger')

In [ ]:
# Allow duplicates
Animals = ("dog", "lion", "tiger")
print(Animals)

('dog', 'lion', 'tiger')

In [ ]:
# Length of a tuple
Animals = ("dog", "lion", "tiger")
print(len(Animals))

3

In [ ]:
# Create Tuple With One Item
Animals = ("dog",)
print(type(Animals))

<class 'tuple'>

In [ ]:
# Create Tuple With One Item 2
Animals = ("dog")
print(type(Animals))

<class 'str'>

In [ ]:
# Tuple Data types
tuple1= ("dog", "lion", "tiger")
tuple2= (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
# Type
Animalstuple = ("dog", "lion", "tiger")
print(type(Animalstuple))

<class 'tuple'>

In [ ]:
# Access Tuple
Animals = ("dog", "lion", "tiger")
print(Animals[2])

tiger

In [ ]:
# Negative Indexing
Animalstuple = ("dog", "lion", "tiger")
print(Animalstuple[-2])

lion

In [ ]:
# Range of indexes
Animalstuple = ("dog", "lion", "tiger", "peacock", "parrot")
print(Animalstuple[1:4])

('lion', 'tiger', 'peacock')

In [ ]:
# Range of indexes 1
Animalstuple = ("dog", "lion", "tiger", "peacock", "parrot")
print(Animalstuple[:4])

('dog', 'lion', 'tiger', 'peacock')

In [ ]:
# Range of indexes
Animalstuple = ("dog", "lion", "tiger", "peacock", "parrot")
print(Animalstuple[3:])

('peacock', 'parrot')

In [ ]:
# Range of negative indexes
Animalstuple = ("dog", "lion", "tiger", "peacock", "parrot")
print(Animalstuple[-1:-3])

()

In [ ]:
# Check if the item exista or not
Animals = ("dog", "lion", "tiger", "peacock", "parrot")
if "lion" in Animals:
  print("Yes 'lion' is in the Animals tuple")

Yes 'lion' is in the Animals tuple

In [ ]:
# Update tuples
m=("dog", "lion", "tiger")
n=list(m)
n[2]="Cat"
m=tuple(n)
print(m)

('dog', 'lion', 'Cat')

In [ ]:
# Add tuple (Convert into list)
Animals = ("dog", "lion", "tiger")
m=list(Animals)
m.append("Cow")
Animals=tuple(m)
print(Animals)

('dog', 'lion', 'tiger', 'Cow')

In [ ]:
# Add tuple to tuple
Animals = ("dog", "lion", "tiger")
m=("monkey",)
Animals+=m
print(Animals)

('dog', 'lion', 'tiger', 'monkey')

In [ ]:
# Remove items
Animals = ("dog", "lion", "tiger")
m=list(Animals)
m.remove("lion")
Animals=tuple(m)
print(Animals)

('dog', 'tiger')

In [ ]:
# Unpacking a Tuple
Animals = ("dog", "lion", "tiger")
(pink, violet, green)=Animals
print(pink)
print(violet)
print(green)

dog
lion
tiger

In [ ]:
# Unpacking using Asterisk
Animals = ("dog", "lion", "tiger", "peacock", "parrot")

(pink, violet, *green)=Animals

print(pink)
print(violet)
print(green)

dog
lion
['tiger', 'peacock', 'parrot']

In [ ]:
# Unpacking a tropic varible
Animals = ("dog", "lion", "tiger", "peacock", "parrot")

(pink, *tropic, violet)=Animals

print(pink)
print(tropic)
print(violet)

dog
['lion', 'tiger', 'peacock']
parrot

In [82]:
# For Loop through a tuple
Animals = ("dog", "lion", "tiger", "peacock", "parrot")
for i in Animals:
  print(i)

dog
lion
tiger
peacock
parrot

In [85]:
# Loop through index numbers
Animals = ("dog", "lion", "tiger", "peacock", "parrot")
for i in range(len(Animals)):
  print(Animals[i])

dog
lion
tiger
peacock
parrot

In [88]:
# While Loop through a tuple
Animals = ("dog", "lion", "tiger", "peacock", "parrot")
i=0
while i<len(Animals):
  print(Animals[i])
  i=i+1

dog
lion
tiger
peacock
parrot

In [90]:
# Join Two Tuples
tuple1 =  ("dog", "lion", "tiger")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('dog', 'lion', 'tiger', 1, 2, 3)

In [93]:
# Multiply Tuple
Animals = ("dog", "lion", "tiger", "peacock", "parrot")
mytuple=Animals*2
print(mytuple)

('dog', 'lion', 'tiger', 'peacock', 'parrot', 'dog', 'lion', 'tiger', 'peacock', 'parrot')

In [95]:
# Tuple Method (count)
Animals = (3, 5, 7, 8, 1, 9 ,4)
m= Animals.count(5)
print(m)

1

In [98]:
#  Tuple Method (index)
Animals = (3, 5, 7, 8, 1, 9 ,4)
m= Animals.index(1)
print(m)

4